// Load page contents (by infinite scroll)
var delimiter = $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
$('#snippets').append(delimiter);
$('#snippets').append('<%= j render @snippets %>');
$('.pagination').replaceWith('<%= j will_paginate @snippets %>');
$('#infinite-scrolling').find('.ajax-loader').remove();
preparePagination(delimiter);

isLoading = false;

<% unless @snippets.next_page %>
    $('#infinite-scrolling').remove();

    if ($('#snippets-table').find('#no-more').length == 0) {
        $('#snippets-table').append('<div id="no-more" style="display: none; height: 50px; text-align: center;">No more snippets found.</div>');
    }

    $('#snippets-table').find('#no-more').fadeIn(2500);
    $('#snippets-table').find('#no-more').fadeOut(2500, function() {
        $(this).remove();
    });
<% end %>

// Make rows clickable
$(".table tr").on('click', function(event) {
    var target = $(event.target);
    if (target.is(":not(a)") && target.is(":not(span)")) {
        var href = $(this).data("link");
        if (href) {
            window.location.href = href;
        }
    }
});

$('.toggle-notion').find('.collapser').on('click', function(el) {
    // Change button icon
    if ($(this).hasClass('collapsed')) {
        $(this).find('.glyphicon-circle-arrow-up').first()
                .removeClass('glyphicon-circle-arrow-up')
                .addClass('glyphicon-circle-arrow-down');
    } else {
        $(this).find('.glyphicon-circle-arrow-down').first()
                .removeClass('glyphicon-circle-arrow-down')
                .addClass('glyphicon-circle-arrow-up');
    }

    var snippetRow = $(this).parent().parent();

    // Smooth scrolling
    $('html, body').animate({
        scrollTop: $(snippetRow).position().top - $(snippetRow).height()
    }, 1000);
});