// Load page contents (by infinite scroll)
var delimiter = $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
$('#snippets').append(delimiter);
$('#snippets').append('<%= j render @snippets %>');
$('.pagination').replaceWith('<%= j will_paginate @snippets %>');
preparePagination(delimiter);

<% unless @snippets.next_page %>
    $('#infinite-scrolling .pagination').remove();
<% end %>

// Make rows clickable... again
$(".table tr").on('click', function(event) {
    var target = $(event.target);
    if (target.is(":not(a)") && target.is(":not(span)")) {
        var href = $(this).data("link");
        if (href) {
            window.location.href = href;
        }
    }
});