// Load page contents (by infinite scroll)
var delimiter = $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
$('#snippets').append(delimiter);
$('#snippets').append('<%= j render @snippets %>');
$('.pagination').replaceWith('<%= j will_paginate @snippets %>');
$('#infinite-scrolling').find('.ajax-loader').remove();
preparePagination(delimiter);

<% unless @snippets.next_page %>
    $('#infinite-scrolling').remove();

    if ($('#snippets-table').find('#no-more').length == 0) {
        $('#snippets-table').append('<div id="no-more" style="display: none; height: 50px; text-align: center;">No more snippets found.</div>');
    }

    $('#snippets-table').find('#no-more').fadeIn(2500);
    $('#snippets-table').find('#no-more').fadeOut(2500, function() {
        $(this).remove();
    });
<% end %>

// Make rows clickable
$(".table tr").on('click', function(event) {
    var target = $(event.target);
    if (target.is(":not(a)") && target.is(":not(span)")) {
        var href = $(this).data("link");
        if (href) {
            window.location.href = href;
        }
    }
});