<div class="page-header">
  <h1>Welcome to Snippeter</h1>
</div>
<div class="jumbotron">
  <h2><strong><label><a>Snippeter</a></label></strong> just for <strong>YOU</strong>!</h2>
  <p>Wanna share your awesome snippets with friends? Or just store it safely?</p><br/>
  <p>We support over <strong>100!</strong> programming languages, templates and markups.</p><br/>
  <p>Explore features of Snippeter right now!</p>
  <p><strong>Just click right down there!</strong></p>
  <p>Get your <a class="btn btn-primary btn-lg" role="button" href="#">Account NOW &raquo;</a></p>
</div>
