<div class="page-header">
  <h1 id="welcome-header">Welcome to <b>Snippeter</b></h1>
</div>
<div class="jumbotron">
  <h2><strong><label><a>Snippeter</a></label></strong> just for <strong>YOU</strong>!</h2>
  <p>Wanna share your awesome snippets with friends?</p><br/>
  <p>We support over <strong>100!</strong> programming languages, templates and markups.</p><br/>
  <p>Explore features of Snippeter right now!</p>
  <p><strong>Just click right down there!</strong></p>
  <p>Share with your <a class="btn btn-primary btn-lg" role="button" href="snippets/new">Snippet NOW &raquo;</a></p>
</div>
