<% title 'About' %>

<div class="page-header">
  <h1>ABOUT</h1>
</div>
<div class="jumbotron">
      <%= raw Pygments.highlight('
      {
        "github_credentials": {
            "nickname": "gruchanet",
            "email": "rjozwiak.net@gmail.com"
        }
      }
      ', lexer: 'json') %>
    <p class="page-header">Find me on <%= image_tag 'github_ruby_mini.png', :class => 'github-logo', :alt => 'GitHub.com', :onclick => 'window.open("https://github.com/gruchanet")' %></p>
</div>
