/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h2 {
  margin-top: 0px;
}

#welcome-header {
  text-align: center;
}

.jumbotron {
  line-height: 20px;
}

p {
  line-height: 25px;
}